# Node
node_modules
.pnpm
.pnp.cjs

# Build output
dist
build
.next
.out

# Turbo
.turbo

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Mac
.DS_Store

# Editor
.vscode
.idea

# Coverage
coverage

# TypeScript
*.tsbuildinfo

# Storybook
storybook-static