# Node
node_modules

# Build output
dist
build

# Turbo
.turbo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Mac
.DS_Store

# VSCode
.vscode

# Coverage
coverage

# TypeScript
*.tsbuildinfo