{
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "trailingComma": "all",
  "experimentalOperatorPosition": "start",
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
